<mat-toolbar color="default" class="avs-menubar">
    <button mat-icon-button (click)="onFilterClick(true)" *ngIf="isVegOnly">
         <mat-icon >toggle_off</mat-icon>Show Veg Only
    </button>
    <button mat-icon-button (click)="onFilterClick(false)" *ngIf="!isVegOnly">
        <mat-icon >toggle_on</mat-icon>Show All
   </button>
    <span class="avs-spacer"></span>
</mat-toolbar>

<div class="avs-margin-top8">
    <mat-card class="avs-card" *ngFor="let pizza of filterList">
        <mat-card-header>
            <img class="avs-pizza-image" mat-card-image src="{{pizza.imageUrl}}">
        </mat-card-header>
        <mat-card-content>
            <div class="avs-card-price">
                {{pizza.name}}
                <!-- <br/> {{pizza.description}} -->
            </div>
            <div class="avs-card-add">
                <img mat-card-image src="{{pizza.categoryId == 1? vegPizzaImage : nonVegPizzaImage}}" style="width: 20px; height: 20px; margin-top: 4px;">
            </div>
        </mat-card-content>
        <mat-divider inset></mat-divider>
        <mat-card-actions>
            <div>
                <div class="avs-card-price">
                    {{pizza.price | currency :'INR'}}
                </div>
                <div class="avs-card-add">
                    <button mat-raised-button color="primary" (click)="onAddClick(pizza)">Add</button>
                </div>
            </div>
        </mat-card-actions>
    </mat-card>
</div>